@media screen and (max-width: 600px) {
  .navbar-toggler {
    float: right;
    display: block;
  }

  .navbar,
  .shop-essentials {
    display: none;
  }

  .show-menu > .navbar {
    display: block;
    position: absolute;
    margin-top: 4rem;
    z-index: 1;
    width: 100%;
    background: gray;
    text-align: center;
    margin-top: 5rem;
  }

  .show-menu > .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .show-menu > .navbar ul li {
    padding: 0.5rem;
  }

  .show-menu > .navbar ul {
    animation-name: slidenavAnimation;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
  }

  @keyframes slidenavAnimation {
    from {
      margin-top: -30px;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 900px) {
  /* =============== Featured product ======= */

  section.featured-products {
    overflow: hidden;
  }

  .featured-products .featured-items {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    margin-left: 10rem;
  }

  .featured-products .featured-items .one img,
  .featured-products .featured-items .two img,
  .featured-products .featured-items .three img {
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 26px -6px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
  }

  .featured-products .featured-items .column-one {
    position: relative;
    display: flex;
  }

  .featured-products .featured-items .one {
    margin-bottom: 34px;
    margin-right: 1rem;
  }

  .featured-products .featured-items .column-two {
    display: flex;
  }

  .featured-items .one {
    flex-basis: 29%;
  }

  .featured-items .two {
    flex-basis: 39%;
  }

  .featured-items .three {
    flex-basis: 70%;
  }

  .featured-products .featured-items .three-text {
    left: 27%;
  }

  .featured-products .featured-items .two-text {
    margin-top: -55px;
    font-size: 14px;
  }

  /* ======== Deal Section =============== */
  /* .deal{
    display:none;
  } */

  /* =============== Items on Sale ======================= */

  section.items-on-sale {
    overflow: hidden;
  }

  .items-on-sale .on-sale-items {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    margin-left: 10rem;
  }

  .items-on-sale .on-sale-items .one img,
  .items-on-sale .on-sale-items .two img,
  .items-on-sale .on-sale-items .three img {
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 26px -6px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
  }

  .items-on-sale .on-sale-items .column-two {
    display: flex;
  }

  .items-on-sale .on-sale-items .one {
    margin-bottom: 80px;
  }

  .items-on-sale .on-sale-items .two {
    margin-bottom: 30px;
    margin-right: 10px;
  }

  .items-on-sale .on-sale-items .column-one {
    position: relative;
    display: flex;
  }

  .on-sale-items .one {
    flex-basis: 70%;
  }

  .on-sale-items .two {
    flex-basis: 29%;
  }

  .on-sale-items .three {
    flex-basis: 39%;
  }

  .items-on-sale .on-sale-items .three-text {
    left: 27%;
  }

  .items-on-sale .on-sale-items .two-text {
    margin-top: -55px;
    font-size: 14px;
  }

  /* ================ Shop ================= */
  .main-shop .main-product {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-shop .product {
    justify-content: center;
  }

  .main-shop .product-filter {
    flex-basis: 20%;
    margin-left: 2rem;
  }

  /* =================== Single Page =============== */

  .product-details .product-container {
    flex-direction: column;
  }

  .product-details .product-image {
    padding: 2rem;
  }

  .tabs .tab-row {
    flex-direction: column;
    align-items: center;
  }

  .tabs .tab-item {
    width: 75%;
  }

  .tab-content .tab-content-item {
    padding: 3rem;
  }

  .review-image {
    margin-top: 4%;
  }

  /* =============== Cart ==================== */
  .cart-product-count {
    display: none;
  }

  .cart-discount .cart-update p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .order-information .order-info-container {
    margin-left: 1rem;
  }
  .order-info-container .infos {
    padding: 1rem;
    flex-basis: 15%;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  /* Cart area */
  .cart-area .cart-specification-name {
    display: none;
  }

  .shoping-cart .cart-area .cart-product-details {
    position: relative;
  }

  .shoping-cart .cart-area .cart-product-name {
    flex-basis: 20%;
  }

  .cart-product-price {
    position: absolute;
    left: 36%;
    bottom: -10%;
  }
  .cart-product-qty {
    position: absolute;
    bottom: -10%;
    left: 46%;
  }

  .shoping-cart .cart-calculation {
    flex-direction: column;
    align-items: center;
    margin-left: -6%;
    margin-top: 10%;
  }
  .cart-total-calculation {
    margin-left: 0;
  }

  .sub-total h4 {
    margin-right: 22vw;
  }

  .cart-coupon input[type='text'] {
    margin-right: -56px;
  }

  button.coupon-button {
    padding: 1rem 1.3rem;
  }

  .cart-discount .cart-coupon {
    margin-left: 6.4rem;
  }

  .cart-discount .cart-update {
    display: none;
  }

  /* ====== Order ===================== */
  .order-single-product-details {
    position: relative;
  }
  .order-total-product {
    position: absolute;
    top: 67%;
    left: 37%;
  }
}

@media screen and (max-width: 550px) {

  .order-info-container .infos {
    padding: 0.8rem;
    flex-basis: 16%;
    max-height: 89px;
    font-size: 10px;
  }

  .order-single-product-details {
    position: relative;
  }
  .order-total-product {
    position: absolute;
    top: 67%;
    left: 31%;
  }
}

@media screen and (max-width: 450px) {
  .cart-product-details .cart-product-image {
    flex-basis: 17%;
  }

  .shoping-cart .cart-area .cart-product-name {
    flex-basis: 22%;
  }
  .cart-product-name h5 {
    font-size: 12px;
  }

  .shoping-cart .cart-area .cart-product-details {
    justify-content: space-around;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  .cart-product-qty {
    left: 51%;
  }
}

@media screen and (max-width: 375px) {
  .shoping-cart .cart-area .cart-product-name {
    flex-basis: 40%;
  }
}
