@media screen and (max-width: 900px) {
  /* =============== Home page ======= */

  section.featured-products {
    overflow: hidden;
  }

  .featured-products .featured-items {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-left: 7rem;
  }

  .featured-products .featured-items .one img,
  .featured-products .featured-items .two img,
  .featured-products .featured-items .three img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .featured-products .featured-items .column-one {
    position: relative;
    display: flex;
  }

  .featured-products .featured-items .one {
    margin-bottom: 34px;
    margin-right: 1rem;
  }

  .featured-products .featured-items .column-two {
    display: flex;
  }

  .featured-items .one {
    flex-basis: 29%;
  }

  .featured-items .two {
    flex-basis: 39%;
  }

  .featured-items .three {
    flex-basis: 70%;
  }

  .featured-products .featured-items .three-text {
    left: 27%;
  }

  .featured-products .featured-items .two-text {
    margin-top: -55px;
    font-size: 14px;
  }

  .countdown-timer {
    width: 41%;
  }

  .days,
  .hour,
  .min,
  .sec {
    width: 20%;
  }

  .deal .heading {
    margin-left: 35%;
  }

  .shop-count .button {
    margin-top: 3rem;
    margin-left: 38%;
  }
  /* ======== Deal Section =============== */
  /* .deal{
    display:none;
  } */

  /* =============== Items on Sale ======================= */

  section.items-on-sale {
    overflow: hidden;
  }

  .items-on-sale .on-sale-items {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-left: 7rem;
  }

  .items-on-sale .on-sale-items .one img,
  .items-on-sale .on-sale-items .two img,
  .items-on-sale .on-sale-items .three img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .items-on-sale .on-sale-items .column-two {
    display: flex;
  }

  .items-on-sale .on-sale-items .one {
    margin-bottom: 60px;
  }

  .items-on-sale .on-sale-items .two {
    margin-bottom: 30px;
    margin-right: 10px;
  }

  .items-on-sale .on-sale-items .column-one {
    position: relative;
    display: flex;
  }

  .on-sale-items .one {
    flex-basis: 70%;
  }

  .on-sale-items .two {
    flex-basis: 29%;
  }

  .on-sale-items .three {
    flex-basis: 39%;
  }

  .items-on-sale .on-sale-items .one-text {
    margin-top: -5rem;
  }

  .items-on-sale .on-sale-items .three-text {
    left: 27%;
  }

  .items-on-sale .on-sale-items .two-text {
    margin-top: -55px;
    font-size: 14px;
  }

  /* ================ Shop ================= */
  .main-shop .main-product {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-shop .product {
    justify-content: center;
  }

  .main-shop .product-filter {
    flex-basis: 20%;
    margin-left: 2rem;
  }

  /* =================== Single Page =============== */

  .product-details .product-container {
    flex-direction: column;
  }

  .product-details .product-image {
    padding: 2rem;
  }

  .tabs .tab-row {
    flex-direction: column;
    align-items: center;
  }

  .tabs .tab-item {
    width: 75%;
  }

  .tab-content .tab-content-item {
    padding: 3rem;
  }

  .review-image {
    margin-top: 4%;
  }

  /* =============== Cart ==================== */
  .cart-product-count {
    display: none;
  }

  .cart-discount .cart-update p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /* ======= HOME ====================== */

  .banner {
    height: 51vw;
  }

  .banner-button {
    bottom: 36%;
  }

  .featured-products .featured-items .one-text {
    margin-top: -47px;
  }

  .featured-products .featured-items .one {
    margin-bottom: 20px;
  }

  .one-text h4,
  .one-text p {
    font-size: 2vw;
  }

  .featured-products .featured-items .two-text {
    margin-top: -48px;
    font-size: 2vw;
  }

  .countdown-timer {
    width: 45%;
  }

  .days,
  .hour,
  .min,
  .sec {
    width: 21%;
    border-radius: 3px;
  }

  .deal .heading {
    margin-left: 40%;
  }

  .shop-count .button {
    margin-top: 3rem;
    margin-left: 40%;
  }

  .items-on-sale .on-sale-items {
    width: 100%;
    margin-left: 7rem;
  }

  button.shop-now-button {
    font-size: 2.2vw;
  }

  .sale-discount-one h3,
  .sale-discount-two h3,
  .sale-discount-three h3 {
    font-size: 2.5vw;
  }

  .newsletter-subscription button {
    padding: 0.5rem 3rem;
  }

  /* ========== Single ================ */
  .review-image {
    flex-basis: 150px;
  }

  /* ======== ORDER ================ */

  .order-information .order-info-container {
    margin-left: 1rem;
  }
  .order-info-container .infos {
    padding: 1rem;
    flex-basis: 15%;
    font-size: 12px;
  }

  /* ======= contact ===== */
  .shop-banner-image {
    max-width: 90%;
    margin: 0 auto;
  }

  .address,
  .phone,
  .email {
    padding: 2rem 2.5rem;
  }

  .contact-info {
    width: 80%;
  }

  .contact-message {
    width: 80%;
  }

  .navigation ul {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  /* ======== wishlist =============== */
  .wishlist-product-count {
    display: none;
  }

  .wishlist .wishlist-product .wishlist-single-product {
    justify-content: space-between;
  }

  .wishlist-single-product .wishlist-product-image {
    flex-basis: 13%;
    margin-left: 0;
  }

  .wishlist .wishlist-product .wishlist-product-name {
    flex-basis: 19%;
  }
  .wishlist-product-name h5 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 700px) {
  /* Cart area */
  .cart-area .cart-specification-name {
    display: none;
  }

  .shoping-cart .cart-area .cart-product-details {
    position: relative;
  }

  .shoping-cart .cart-area .cart-product-name {
    flex-basis: 20%;
  }

  .cart-product-price {
    position: absolute;
    left: 36%;
    bottom: -10%;
  }
  .cart-product-qty {
    position: absolute;
    bottom: -10%;
    left: 46%;
  }

  .shoping-cart .cart-calculation {
    flex-direction: column;
    align-items: center;
    margin-left: -6%;
    margin-top: 10%;
  }
  .cart-total-calculation {
    margin-left: 0;
  }

  .sub-total h4 {
    margin-right: 22vw;
  }

  .cart-coupon input[type='text'] {
    margin-right: -56px;
  }

  button.coupon-button {
    padding: 1rem 1.3rem;
  }

  .cart-discount .cart-coupon {
    margin-left: 6.4rem;
  }

  .cart-discount .cart-update {
    display: none;
  }

  /* ====== Order ===================== */
  .order-single-product-details {
    position: relative;
  }
  .order-total-product {
    position: absolute;
    top: 67%;
    left: 37%;
  }

  /* ===== Contact ========= */
  .address,
  .phone,
  .email {
    padding: 2rem 1.5rem;
  }

  .contact-field .contact-form-heading {
    width: 29%;
  }

  .contact-form-heading h3 {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    padding: 0 20%;
  }

  .navbar-toggler {
    float: right;
    display: block;
  }

  .navbar {
    display: none;
  }

  .show-menu > .navbar {
    display: block;
    position: absolute;
    width: 34%;
    background: #fff;
    text-align: center;
    margin-top: 14rem;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
    z-index: 2;
    left: 9%;
  }

  .show-menu > .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .show-menu > .navbar ul li {
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .show-menu > .navbar ul li a {
    border-bottom: 1px solid #ececec;
  }

  .show-menu > .navbar ul {
    animation-name: slidenavAnimation;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
  }

  @keyframes slidenavAnimation {
    from {
      margin-top: -30px;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
  }

  .featured-products .featured-items,
  .items-on-sale .on-sale-items {
    margin-left: 5rem;
  }

  /* shop essentials text */

  .shop-essentials-text,
  .shop-essentials-icon {
    display: none;
  }

  .show-essential > .shop-essentials-text {
    display: block !important;
  }

  .dot-icon {
    display: block;
  }

  .show-essential > .shop-essentials-text ul {
    list-style: none;
  }

  .show-essential > .shop-essentials-icon {
    display: none;
    margin: 0;
    padding: 0;
  }

  .show-essential > .shop-essentials-text {
    display: block;
    position: absolute;
    top: 13%;
    z-index: 2;
    right: 9%;
    background: #fff;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
    width: 32%;
    text-align: center;
  }

  .show-essential > .shop-essentials-text ul li {
    padding: 1rem;
  }

  /* ============= Single Product page ================== */

  .add-review {
    height: 61vh;
  }

  .review-form {
    padding: 1rem;
  }

  .review-form .review-message {
    width: 100%;
    margin: 0 auto;
  }

  .review-info {
    width: 92%;
    flex-direction: column;
    margin: 0 auto;
    left: 4%;
  }

  .review-info input {
    margin-bottom: 1rem;
  }

  .review-form .submit-button {
    margin-top: 10rem;
    margin-left: 0;
    text-align: center;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 550px) {
  /* ======= HOME ============ */

  .featured-products .featured-items {
    width: 130%;
    margin-left: 1.5rem;
  }

  .featured-products .featured-items .column-one {
    margin-bottom: 8px;
  }

  .deal {
    background: #fff;
    height: 70vh;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
  }

  .shop-count {
    margin-top: 3rem;
  }

  .deal .heading {
    margin-left: 0;
  }

  .deal .heading h1 {
    font-size: 4.5vw;
  }

  .shop-count .button {
    margin-top: 4rem;
    margin-left: 0;
  }

  .one-text h4,
  .one-text p,
  .two-text h4,
  .two-text p {
    font-size: 2.5vw;
  }

  .countdown-timer {
    width: 77%;
    margin: 0 auto;
  }

  .days,
  .hour,
  .min,
  .sec {
    width: 18vw;
    height: 16vw;
  }

  .days p,
  .hour p,
  .min p,
  .sec p {
    font-size: 5vw;
  }

  .countdown-timer .duration {
    font-size: 4vw;
    margin-top: 11px;
  }

  .items-on-sale .on-sale-items {
    width: 130%;
    margin-left: 1.5rem;
  }

  .sale-discount-one h3,
  .sale-discount-two h3,
  .sale-discount-three h3 {
    font-size: 3vw;
  }

  .newsletter {
    height: 70vh;
  }

  .newsletter-content {
    top: 8%;
  }

  .newsletter-text h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .newsletter-subscription {
    width: 85%;
  }

  /* =============== Single Product page */
  .review-image {
    flex-basis: 161px;
    margin-top: 3rem;
  }

  .review-content {
    position: relative;
  }

  .client-rating {
    position: absolute;
    top: 20%;
  }

  /* ===== Order Page ===== */
  .order-info-container .infos {
    padding: 0.8rem;
    flex-basis: 16%;
    max-height: 89px;
    font-size: 10px;
  }

  .order-single-product-details {
    position: relative;
  }
  .order-total-product {
    position: absolute;
    top: 67%;
    left: 31%;
  }

  /* ====== contact page ======== */

  .contact .contact-details {
    flex-direction: column;
    margin: 0 6%;
  }

  .address,
  .phone,
  .email {
    margin-bottom: 1rem;
    height: 180px;
    padding: 4rem 1.5rem;
  }

  .contact-field .contact-form-heading {
    top: -8%;
    width: 37%;
  }

  .contact-form-heading h3 {
    font-size: 2.3vw;
  }

  /* ====== wishlist =========== */

  .wishlist-single-product {
    position: relative;
  }

  .wishlist .wishlist-product .wishlist-single-product {
    justify-content: space-around;
  }

  .wishlist-single-product .wishlist-product-image {
    flex-basis: 17%;
  }

  .wish-add-to-cart {
    position: absolute;
    left: 35%;
    top: 58%;
  }

  .wish-add-to-cart button {
    background: transparent;
    color: #42b883;
    font-weight: 600;
    font-size: 12px;
    padding: 0;
  }

  .wishlist .wishlist-product .wishlist-product-name {
    flex-basis: 32%;
    margin-bottom: 1rem;
  }
  .wishlist-product-name h5 {
    font-size: 2.3vw;
  }

  .wishlist-product-delete i {
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .cart-product-details .cart-product-image {
    flex-basis: 17%;
  }

  .shoping-cart .cart-area .cart-product-name {
    flex-basis: 22%;
  }
  .cart-product-name h5 {
    font-size: 12px;
  }

  .shoping-cart .cart-area .cart-product-details {
    justify-content: space-around;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  .cart-product-qty {
    left: 51%;
  }

  /* order */
  .order-product-details {
    width: 92%;
  }

  .order-total-product {
    left: 31vw;
    font-size: 14px;
  }

  /* ============== Single product details ================ */

  .client-details {
    flex-direction: column;
  }

  .client-details h4 {
    margin-bottom: 8px;
  }

  .client-rating {
    top: 32%;
  }

  .review-image {
    flex-basis: 240px;
  }
}

@media screen and (max-width: 375px) {
  /* ======= Home =============== */
  .featured-products .featured-items .column-one {
    flex-direction: column;
    width: 71%;
  }

  .featured-items .two {
    width: 95%;
    margin-top: 1rem;
  }

  .featured-items .three {
    flex-basis: 68%;
    margin-top: 1.5rem;
  }

  .countdown-timer {
    width: 92%;
    margin: 0 auto;
    justify-content: center;
  }

  .days,
  .hour,
  .min,
  .sec {
    width: 18vw;
    height: 19vw;
    margin-right: 0.5rem;
  }

  .items-on-sale .on-sale-items .column-two {
    flex-direction: column;
  }

  .items-on-sale .on-sale-items .two {
    width: 68%;
  }
  .on-sale-items .three {
    width: 68%;
  }

  .items-on-sale .on-sale-items {
    margin-left: 1.3rem;
  }

  .items-on-sale .on-sale-items .two {
    margin-bottom: 45px;
    margin-top: 12px;
  }

  .sale-discount-one h3,
  .sale-discount-two h3,
  .sale-discount-three h3 {
    font-size: 5vw;
  }

  .newsletter {
    background: #fff;
  }

  .newsletter-content {
    position: absolute;
    width: 83%;
    right: 16px;
    top: 21%;
  }

  /* ================ Single Page Product ============ */
  .review-image {
    display: none;
  }
  .review-content {
    margin-top: 0;
    margin-left: 0;
  }

  /* ============ shopping cart ========== */
  .shoping-cart .cart-area .cart-product-name {
    flex-basis: 40%;
  }

  /* ==== Contact Page ===== */

  .contact-info {
    flex-direction: column;
  }

  .contact-field .contact-form-heading {
    top: -6%;
    width: 55%;
  }

  .contact-form-heading h3 {
    font-size: 3.6vw;
  }

  .navigation ul {
    flex-direction: column;
  }

  .social h3 {
    font-size: 14px;
  }

  .social img {
    margin-left: 0.5rem;
  }

  /* ================ wishlist ============== */

  .wishlist .wishlist-product .wishlist-single-product {
    justify-content: space-between;
  }

  .wishlist-product-price {
    position: absolute;
    top: 62%;
    left: 63%;
    margin-left: 1rem;
  }

  .wishlist-product-price p {
    font-size: 14px;
  }

  .wishlist-product-delete i {
    font-size: 17px;
  }

  .wishlist-single-product .wishlist-product-image {
    flex-basis: 23%;
  }

  .wishlist .wishlist-product .wishlist-product-name {
    flex-basis: 50%;
  }

  .wishlist-product-name h5 {
    font-size: 3vw;
  }

  /* ==== shop essential text */
  .show-essential > .shop-essentials-text {
    right: 7%;
    width: 44%;
  }
}
