@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.background-color {
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  display: block;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.main-header nav ul {
  display: flex;
  list-style: none;
}



.navbar ul li a {
  padding: 0.75rem;
  text-decoration: none;
  color: rgb(19, 18, 18);
}

.navbar-toggler {
  display:none;
  background: #fff;
  border: none;
  outline:none;
  cursor:pointer;
}

.navbar-toggler i {
  padding: 0rem;
  font-size: 1.5rem;
  background: #fff;
  border: none;
  outline: none;
}

.main-header .shop-essentials i {
  padding: 0.75rem;
}

/* header dropdown cart */

.header-cart-dropdown {
  box-shadow: -2px -1px 22px -6px rgba(228, 225, 225, 0.71);
}

.header-cart-dropdown .header-cart-item {
  display: flex;
  width: 318px;
  padding: 1rem;
  z-index: 1;
  border-bottom: 1px solid #eeeeee;
  justify-content: space-around;
}

.header-cart-dropdown .header-dropdown-item {
  overflow-y: scroll;
  height: 266px;
}


.header-minicart {
  display: none;
}

.open > .header-minicart {
  display: block;
}

.open > .header-minicart > .header-dropdown-item {
  animation-name: slidenavAnimation;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: 200ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #919191;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scroll-style::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #919191;
  background-color: #919191;
}

.header-cart-dropdown {
  position: absolute;
  z-index: 1;
  background: #ffffff;
  right: 6rem;
}

.header-cart-item .header-cart-item-img {
  flex-basis: 18%;
}

.header-cart-item-img img {
  max-width: 100%;
}

.header-cart-item-name a {
  font-size: 12px;
  font-weight: 600;
  color: #323232;
}

.header-cart-item-name {
  flex-basis: 54%;
  margin-left: 1rem;
  color: #919191;
}

.header-cart-item-delete {
  color: #919191;
}

.header-cart-total {
  display: flex;
  justify-content: space-around;
  color: #323232;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
}

.header-cart-dropdown .header-view-cart {
  text-align: center;
  margin-top: 1rem;
}

.header-cart-dropdown .header-checkout {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.header-view-cart button {
  border: 2px solid #42b883;
  border-radius: 8px;
  outline: 0;
  background: none;
  padding: 9px 76px;
  color: #42b883;
  font-weight: 600;
  cursor: pointer;
}

.header-view-cart button:hover {
  background: #42b883;
  color: #ffffff;
  transition: 0.3s ease-in;
}

.header-checkout button {
  border: 2px solid #42b883;
  border-radius: 8px;
  outline: 0;
  background: none;
  padding: 9px 76px;
  color: #42b883;
  font-weight: 600;
  cursor: pointer;
}

.header-checkout button:hover {
  background: #42b883;
  color: #ffffff;
  transition: 0.3s ease-in;
}

/* header dropdown wishlist */

.header-wishlist-dropdown {
  box-shadow: -2px -1px 22px -6px rgba(228, 225, 225, 0.71);
}

.header-wishlist-dropdown .header-wishlist-item {
  display: flex;
  width: 318px;
  padding: 1rem;
  z-index: 1;
  border-bottom: 1px solid #eeeeee;
  justify-content: space-around;
}

.header-wishlist-dropdown .wishlist-items {
  overflow-y: scroll;
  height: 266px;
}

.header-wishlist {
  display: none;
}

.open-wishlist > .header-wishlist {
  display: block;
}

.open-wishlist > .header-wishlist > .wishlist-items {
  animation-name: slidenavAnimation;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: 200ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.wishlist-scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #919191;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.wishlist-scroll-style::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.wishlist-scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #919191;
  background-color: #919191;
}

.header-wishlist-dropdown {
  position: absolute;
  z-index: 1;
  background: #ffffff;
  right: 6rem;
}

.header-wishlist-item .header-wishlist-item-img {
  flex-basis: 18%;
}

.header-wishlist-item-img img {
  max-width: 100%;
}

.header-wishlist-item-name a p {
  font-size: 13px;
  font-weight: 600;
  color: #323232;
  margin-bottom: 5px;
}

.header-wishlist-item-name {
  flex-basis: 54%;
  margin-left: 1rem;
  color: #42b883;
}

.header-wishlist-item-name p {
  font-size: 13px;
  font-weight: 700;
}

.header-wishlist-item-delete {
  color: #919191;
}

.header-wishlist-total {
  display: flex;
  justify-content: space-around;
  color: #323232;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
}

.header-wishlist-dropdown .header-view-cart {
  text-align: center;
  margin-top: 1rem;
}

.header-cart-dropdown .header-checkout {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.header-view-wishlist {
  text-align: center;
  padding: 2rem;
}

.header-view-wishlist button {
  border: 2px solid #42b883;
  border-radius: 8px;
  outline: 0;
  background: none;
  padding: 9px 76px;
  color: #42b883;
  font-weight: 600;
  cursor: pointer;
}

.header-view-wishlist button:hover {
  background: #42b883;
  color: #ffffff;
  transition: 0.3s ease-in;
}

/********************* Banner ****************************/

.banner-row {
  display: flex;
  flex-direction: column;
}

.banner {
  background: url(../img/banner/banner.png) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 2px #efefef;
  max-width: 100%;
}


.banner-text {
  position: absolute;
  top: 13rem;
  left: 12rem;
}

.banner-text h1 {
  color: #a8a8a8;
}

.banner-text h3 {
  color: #cdcdcd;
}

.banner-text h3:after {
  content: '';
  border-bottom: 2px solid #ddd;
  width: 9rem;
  display: block;
  padding-top: 0.2rem;
}

/* ===================== Featured Products =================================*/

.featured-heading {
  text-align: center;
  color: #202020;
  margin: 4rem 0;
}

.featured-products .featured-items {
  display: flex;
  justify-content: center;
}

.featured-products .featured-items .column-one {
  flex-basis: 25%;
  margin-right: 10px;
}
.featured-products .featured-items .column-two {
  flex-basis: 52%;
  text-align: center;
}

.featured-products .featured-items .one img,
.featured-products .featured-items .two img,
.featured-products .featured-items .three img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 26px -6px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.featured-products .featured-items .one {
  margin-bottom: 34px;
}

.featured-products .featured-items .column-one,
.featured-products .featured-items .column-two {
  position: relative;
}

.featured-products .featured-items .one-text {
  margin-top: -4rem;
  text-align: center;
  color: #6c6c6c;
}

.featured-products .featured-items .two-text {
  margin-top: -4rem;
  text-align: center;
  color: #6c6c6c;
}

.featured-products .featured-items .three-text {
  color: #6c6c6c;
  position: absolute;
  top: 78%;
  left: 38%;
}

.featured-products .featured-items .feature_price {
  color: #42b883;
}



/* ================= Deal of the day ============================ */

.deal {
  background: url(../img/BestDeal.png) no-repeat;
  height: 100vh;
  background-size: contain;
  background-position: center;
  /* position: relative; */
}

.heading {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 79%;
  margin-top: 9rem;
}

.heading h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #202020;
}

.countdown-timer {
  display: flex;
  width: 85%;
  justify-content: flex-end;
  padding-top: 16rem;
}

.days,
.hour,
.min,
.sec {
  height: 100px;
  width: 100px;
  background: #52de97;
  margin-right: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.days p,
.hour p,
.min p,
.sec p {
  margin-top: 2rem;
}

.countdown-timer .duration {
  color: #bebebe;
}

.shop-count {
  display: flex;
  flex-direction: column;
}

.button {
  width: 85%;
  text-align: right;
  padding-right: 7rem;
  margin-top: 4rem;
}

button.shop-now-button {
  background: transparent;
  border: 2px solid #42b883;
  padding: 1rem 4rem;
  border-radius: 9px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #42b883;
}

/* Best selling items */
.best-selling-heading h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.owl-carousel {
  display: flex;
}

.owl-carousel img {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 7px;
  box-shadow: -2px -1px 22px -6px rgba(228, 225, 225, 0.71);
  -webkit-box-shadow: -2px -1px 22px -6px rgba(228, 225, 225, 0.71);
}

/* Items on sale */
.items-on-sale {
  margin-bottom: 8rem;
}

.items-sale-heading h2 {
  text-align: center;
  margin: 4rem 0;
}

.items-on-sale .on-sale-items {
  display: flex;
  justify-content: center;
}

.items-on-sale .on-sale-items .column-one {
  flex-basis: 52%;
  margin-right: 10px;
  text-align: center;
}

.items-on-sale .on-sale-items .column-two {
  flex-basis: 25%;
}

.items-on-sale .on-sale-items .one img,
.items-on-sale .on-sale-items .two img,
.items-on-sale .on-sale-items .three img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 26px -6px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.items-on-sale .on-sale-items .column-one,
.items-on-sale .on-sale-items .column-two {
  position: relative;
}

.items-on-sale .on-sale-items .one-text {
  margin-top: -7rem;
  color: #6c6c6c;
}

.items-on-sale .on-sale-items .two-text {
  margin-top: -4rem;
  text-align: center;
  color: #6c6c6c;
}

.items-on-sale .on-sale-items .three-text {
  margin-top: -4rem;
  text-align: center;
  color: #6c6c6c;
}

.items-on-sale .on-sale-items .two {
  margin-bottom: 34px;
}

.sale-discount-one,
.sale-discount-two,
.sale-discount-three {
  position: absolute;
  padding: 1rem 0.5rem;
  background: #52de97;
  margin: 1rem;
  border-radius: 5px;
  color: #fff;
}

/* Newsletter */
.newsletter {
  background: url(../img/Newsletter.png) no-repeat center;
  background-size: contain;
  height: 100vh;
}

.divide-newsletter {
  display: flex;
}

.gap {
  flex: 1;
}

.newsletter-content {
  flex: 1;
  padding-top: 12rem;
}

.newsletter-text h2 {
  color: #6c6c6c;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.newsletter-text p {
  margin-bottom: 1.5rem;
}

.newsletter-subscription input {
  width: 60%;
  display: block;
  padding: 10px;
  border-radius: 7px;
  outline: 0;
  border: 1px solid #dddd;
  margin-bottom: 11px;
}

.newsletter-subscription button {
  padding: 8px 40px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #42b883;
  color: #42b883;
  font-size: 1rem;
}

/* Footer */

.footer {
  overflow: hidden;
  background: #dedede;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.navigation ul li {
  margin-right: 2rem;
}

.navigation ul li a {
  color: #525252;
}

.social-account ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.social-account ul li {
  margin-right: 2rem;
}

.social-account ul li a {
  color: #525252;
}

.footer-top {
  display: flex;
  padding: 2rem 0rem;
}

.bottom_line {
  background-color: #ffffff;
  width: 79%;
  margin-left: 83px;
  border: none;
  height: 1px;
  margin-bottom: 1rem;
}

.navigation,
.social-account {
  flex: 1;
}

.footer-bottom {
  text-align: center;
  padding: 1rem 0;
}

/* 
==========================================================================
SHOP PAGE        
==========================================================================
*/

.main-shop {
  margin-top: 100px;
}

.shop-banner-image {
  background: url(../img/shop/shop_banner.png) no-repeat center;
  background-size: contain;
  height: 58vh;
  box-shadow: 0 2px 2px #efefef;
}

.main-shop .main-product {
  display: flex;
}
.main-shop .product-filter {
  flex-basis: 20%;
}

.main-shop .product {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-basis: 80%;
}

/* *************** */

.main-shop .product-item {
  flex-basis: 25%;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.main-shop .product-desc {
  margin-top: 1rem;
}
.main-shop .product-name {
  color: #8a8989;
  margin-bottom: 10px;
  font-weight: 100;
}

.main-shop .product-item .product-img img {
  max-width: 100%;
  border-radius: 5px;
}

/* product categorie filter */

.categories-filter h3 {
  color: #2b2b2b;
  margin-bottom: 2rem;
}

.categorie-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #525252;
}

/* Hide the browser's default radio button */
.categorie-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #eee;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.categorie-container input:checked ~ .checkmark {
  background-color: #52de97;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.categorie-container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.categorie-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.categorie-container .checkmark:after {
  top: 3.5px;
  left: 4.9px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
}

/***** Search ****/
.search-product {
  position: relative;
  margin-top: 75px;
}

.search-product #psearch {
  position: relative;
  background: white;
  border: none;
  box-shadow: 0 1px 6px #e4e3e3;
  padding: 16px 46px;
}
.search-product .fas.fa-search {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 19px;
  border-right: 1px solid #b2a9a9;
  color: #b2a9a9;
  padding-right: 5px;
}

/* *********** SLIDER FILTER ************* */

.price-filter {
  width: 100%;
  margin-top: 3rem;
}
.price-filter h3 {
  margin-bottom: 2rem;
  color: #2b2b2b;
}

.price-filter p {
  color: #acacac;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 20px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 6px #acacac;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 6px #acacac;
  border: none;
}

/* ********* COLOR FILTER ********** */
.color-filter {
  margin-top: 4rem;
}
.color-filter h3 {
  color: #2b2b2b;
  margin-bottom: 2rem;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
}

.color-pallate {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 38px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.color-pallate input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.color-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  box-shadow: 0 1px 6px #acacac;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.color-pallate .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.color-pallate input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.color-pallate .checkmark:after {
  left: 8px;
  top: 6px;
  width: 5px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.color-container :nth-child(1) .checkmark {
  background: #ea907a;
}
.color-container :nth-child(2) .checkmark {
  background: #bbf1c8;
}
.color-container :nth-child(3) .checkmark {
  background: #f4f7c5;
}
.color-container :nth-child(4) .checkmark {
  background: #aacdbe;
}
.color-container :nth-child(5) .checkmark {
  background: #2fc4b2;
}
.color-container :nth-child(6) .checkmark {
  background: #12947f;
}
.color-container :nth-child(7) .checkmark {
  background: #dbc6eb;
}
.color-container :nth-child(8) .checkmark {
  background: #99b898;
}
.color-container :nth-child(9) .checkmark {
  background: #e84a5f;
}
.color-container :nth-child(10) .checkmark {
  background: #342b38;
}

/* ***********************************************************************************************************************  SINGLE PRODUCT **********************************************************************************************************************************/

.product-details .product-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.product-details .product-image {
  display: flex;
  flex-basis: 45%;
}

.product-details .product-container .column-one img {
  max-width: 100%;
}

.product-image .column-two img {
  max-width: 100%;
  border-radius: 8px;
}
.product-image .column-one img {
  border-radius: 8px;
}

.product-image .column-one {
  margin-right: 10px;
}

.product-image .column-two {
  flex-basis: 119%;
}
.product-image .column-one,
.one,
.two,
.three {
  margin-bottom: 5px;
}

.product-details .product-container .product-desc {
  flex-basis: 30%;
  margin: 2rem 0 0 2rem;
}

.product-desc .product-name {
  color: #585858;
  margin-bottom: 10px;
}

.product-details .product-container .product-rating {
  color: #ffc107;
  margin-bottom: 1rem;
}

.product-desc .product-price {
  color: #8b8b8b;
  margin-bottom: 1rem;
}

.product-desc .product-info {
  margin-bottom: 2rem;
  color: #919191;
}

.product-desc .product-info :nth-child(1) {
  margin-bottom: 1rem;
}

.product-add-to-cart button {
  padding: 12px 43px;
  border: none;
  border-radius: 7px;
  background: #42b883;
  color: #fff;
  font-weight: 600;
}

.product-desc .wishlist {
  margin-top: 1rem;
  color: #919191;
}

.product-desc .wishlist i {
  color: #ff8585;
}

.wishlist-continue-shopping {
  margin-left: 13rem;
  color: #919191;
  margin-top: 2rem;
}

/* ***** Tab Section ****** */
.tabs {
  margin-top: 4rem;
}

.tabs .tab-row {
  display: flex;
  justify-content: center;
}

.tabs .tab-item {
  background: #f9f9f9;
  padding: 15px 68px;
  margin-right: 7px;
  cursor: pointer;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

.description-content {
  width: 73%;
  margin: 3rem auto;
  color: #919191;
}
.ordered-list {
  margin-left: 14px;
  margin-top: 20px;
}

.description-content h3 {
  margin-bottom: 1rem;
}
.description-content .ordered-list li {
  margin-bottom: 9px;
}

.tab-2-content-bottom .text-md {
  margin-bottom: 1rem;
  font-weight: 600;
}

.review-details {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.review-image {
  flex-basis: 12%;
}
.review-image img {
  max-width: 100%;
  border-radius: 50%;
}
.client-details {
  display: flex;
}

.review-content {
  margin-top: 29px;
  margin-left: 2rem;
}

.main-review {
  margin-top: 2rem;
}

.review-details .client-rating {
  margin-left: auto;
  color: #ffc107;
}
.review-content .main-review span {
  color: #919191;
}
.review-content .client-details h4 {
  color: #585858;
  margin-right: 5px;
}

/* ****** Add review ****** */
.add-review .review-heading {
  margin-top: -27px;
  position: absolute;
  background: #fff;
  padding: 1rem;
  box-shadow: 2px 5px 6px #efefef;
  border-radius: 5px;
}

.add-review {
  background: #f9f9f9;
  margin-top: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.review-heading {
  margin-top: -1rem;
  position: absolute;
}

.review-form .review-rating {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.review-form .client-rating {
  margin-left: auto;
}

.review-message textarea {
  outline: none;
  resize: none;
  border: none;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 2px 5px 6px #efefef;
}

.review-form .review-message {
  margin-bottom: 1rem;
}

.review-info {
  position: absolute;
  margin-top: -13px;
}

.review-info input {
  border: none;
}
.review-form .review-rating {
  color: #919191;
}

.review-form .client-rating {
  color: #ffc107;
}

.review-form .submit-button {
  margin-top: 3rem;
  position: absolute;
  margin-left: 12rem;
}
.review-form .submit-button button {
  background: #42b883;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 67px;
  font-weight: 600;
}

/* ------------ Related Products -------------- */

.related-products {
  margin-top: 11rem;
}
.related-products .related-products-heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* ------------- Contact Page ------------------ */

.contact {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.contact .contact-details {
  display: flex;
  justify-content: space-evenly;
  color: #aaa;
  text-align: center;
  font-size: 14px;
}

.contact .contact-details h3 {
  margin-bottom: 1rem;
}

.address,
.phone,
.email {
  padding: 3rem 4rem;
  border-radius: 5px;
  background: linear-gradient(
    355deg,
    rgba(68, 189, 139, 1) 35%,
    rgba(79, 216, 147, 1) 100%
  );
  color: #ffffff;
  box-shadow: 2px 5px 6px #dcc8c8;
}

.contact-form {
  margin-top: 5rem;
  margin-right: 26rem;
}

.contact-form-info {
  margin-top: 6rem;
}

.contact-field {
  background: #f9f9f9;
  margin-top: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.contact-field .contact-form-heading {
  position: absolute;
  background: #fff;
  padding: 1rem;
  box-shadow: 2px 5px 6px #efefef;
  border-radius: 5px;
  color: #919191;
  margin-top: -2rem;
}

.contact-form-heading h3 {
  font-weight: 100;
}

.contact-form .submit-button {
  margin-top: 3rem;
  position: absolute;
  margin-left: 12rem;
}

.contact-button {
  text-align: right;
}

.contact-info {
  margin-bottom: 1rem;
  display: flex;
  width: 226%;
}

.contact-info input {
  border: none;
  flex-grow: 1;
  padding: 1rem;
  margin-right: 8px;
  margin-bottom: 7rem;
  border-radius: 5px;
  color: #919191;
}

.contact-message textarea {
  outline: none;
  resize: none;
  border: none;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 2px 5px 6px #efefef;
  width: 60%;
  position: absolute;
  bottom: -3rem;
  padding: 1rem;
  color: #919191;
}

.contact-button {
  right: 34rem;
  margin-top: 4rem;
  position: absolute;
}

.contact-form .contact-button button {
  background: #42b883;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 13px 67px;
  font-weight: 600;
}

.social-contact {
  margin-top: 10rem;
  margin-bottom: 4rem;
}
.social-contact .social {
  display: flex;
  justify-content: center;
  color: #919191;
}
.social img {
  margin-left: 1rem;
}

/* ***************************************  
---------------- Shoping Cart ---------------- 
************************************* */

.shoping-cart {
  margin-top: 5rem;
}
.cart-area {
  overflow: hidden;
}

.cart-area .cart-specification-name {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  margin-bottom: 2rem;
  text-align: center;
}
.cart-area .cart-specification-name h5 {
  color: #6d6d6d;
  flex-basis: 14%;
}
.shoping-cart .cart-area .cart-product-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -5rem;
  border-top: 1px solid #eeeeee;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.shoping-cart .cart-area .cart-product-name {
  flex-basis: 11%;
}

.cart-product-image,
.cart-product-name,
.cart-product-price,
.cart-product-qty,
.cart-product-total {
  margin-right: -3rem;
}

.cart-product-details .cart-product-image {
  flex-basis: 9%;
}
.cart-product-image img {
  max-width: 100%;
}

.cart-product-name h5 {
  color: #2c2c2c;
}

.cart-product-price,
.cart-product-total,
.cart-product-delete {
  color: #919191;
}

.cart-product-qty i {
  color: #42b883;
}
.cart-product-qty span {
  color: #919191;
}
.cart-product-count {
  background: linear-gradient(
    355deg,
    rgb(68, 189, 139) 35%,
    rgb(79, 216, 147) 100%
  );
  padding: 3px 8px;
  border-radius: 59%;
  color: #fff;
  margin-right: -8rem;
}

/* *** Shiping Calculation *** */

.shoping-cart .cart-calculation {
  display: flex;
  justify-content: space-around;
}

.cart-discount .cart-coupon {
  margin-bottom: 2rem;
}

.cart-discount .cart-update {
  display: flex;
}

.cart-coupon input[type='text'] {
  /* position: relative; */
  padding: 10px 13px;
  border-radius: 7px;
  border: 1px solid #eeeeee;
  outline: none;
}

button.coupon-button {
  /* position: absolute; */
  /* right: 0; */
  background-color: #42b883;
  color: #fff;
  padding: 12px 48px;
  border: 0;
  border-radius: 7px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.cart-update p {
  color: #919191;
  margin-right: 2rem;
  cursor: pointer;
}

.cart-update i {
  padding-right: 5px;
}

.cart-update button.update-button {
  border: 2px solid #42b883;
  background: none;
  padding: 10px 54px;
  border-radius: 7px;
  color: #42b883;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.cart-total-calculation .sub-total {
  display: flex;
  border-bottom: 1px solid #eeee;
  padding-bottom: 2rem;
}

.sub-total h4 {
  margin-right: 10rem;
  color: #202020;
}

.sub-total .sub-total-price {
  color: #8b8b8b;
}

.cart-total-calculation .shipping {
  margin-top: 2rem;
}

.cart-total-calculation .shipping h4 {
  margin-bottom: 1rem;
}

/* Shipping Rate */

.shipping-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #525252;
}

/* Hide the browser's default radio button */
.shipping-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.shipping-container .shipping_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #eee;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.shipping-container input:checked ~ .shipping_checkmark {
  background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.shipping-container .shipping_checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.shipping-container input:checked ~ .shipping_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.shipping-container .shipping_checkmark:after {
  top: 4.5px;
  left: 3.9px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #585858;
}

.calculate-shipping {
  margin-top: 2rem;
}

.country-select {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.country-select input[type='text'] {
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #eeeeee;
  margin-bottom: 5px;
  outline: none;
}

.country-select input[type='text']::placeholder {
  color: #919191;
}

.country-select select {
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #eeeeee;
  margin-bottom: 5px;
  color: #919191;
}

.cart-total-calculation .total-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.checkout-button {
  margin-bottom: 3rem;
}

.checkout-button button {
  background: none;
  color: #42b883;
  border: 1px solid #42b883;
  padding: 1rem 4rem;
  border-radius: 7px;
  font-weight: 600;
  width: 100%;
  outline: none;
}

.checkout-button button:hover {
  background: #42b883;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in;
  font-weight: 600;
}

/* ***************************** Order page ********************************* */

.order-greetings {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.greetings p {
  background: linear-gradient(
    94deg,
    rgba(68, 189, 139, 1) 28%,
    rgba(79, 216, 147, 1) 100%
  );
  width: 57%;
  margin: auto;
  padding: 1rem;
  border-radius: 7px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}

.order-information .order-info-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.order-info-container .infos {
  background: #ffffff;
  box-shadow: 1px 2px 12px #e8e8e8;
  padding: 2rem;
  flex-basis: 13%;
  margin-right: 1rem;
  border-radius: 5px;
  text-align: center;
}

.order-info-container .infos p {
  color: #919191;
  font-weight: 600;
  margin-bottom: 1rem;
}

.order-info-container .infos h4 {
  color: #585858;
}

.order-details .order-single-product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eeeeee;
  margin: auto;
  padding: 1rem 1rem;
}

.order-single-product-details .order-product-image {
  flex-basis: 12%;
}

.order-product-image img {
  max-width: 100%;
}

.order-single-product-details > * {
  margin-right: 6rem;
}

.order-product-details {
  text-align: center;
  background: #f9f9f9;
  width: 65%;
  margin: auto;
}

.order-single-product-details {
  width: 96%;
}

.order-product-details h3 {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.order-price-calculation .order-sub-total {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.order-price-calculation {
  border-top: 1px solid #eeeeee;
  padding: 2rem;
  border-bottom: 1px solid #eeeeee;
}

.order-price-calculation .order-shipping {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.order-price-calculation .order-payment-method {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.order-sub-total h4 {
  flex-basis: 28%;
}

.order-shipping h4 {
  flex-basis: 27%;
}

.order-payment-method h4 {
  flex-basis: 24%;
}

.order-total {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eeeeee;
  padding-top: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
}

.order-total h4 {
  flex-basis: 37%;
}

.order-total p {
  flex-basis: 15%;
}

/************ ============= wishlist =============== **************/

.wishlist {
  margin-top: 3rem;
}

.wishlist .wishlist-product {
  overflow: hidden;
  width: 85%;
  margin: auto;
}

.wishlist .wishlist-heading {
  width: 85%;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eeeeee;
}

.wishlist .wishlist-product .wishlist-single-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem;
}

.wishlist .wishlist-product .wishlist-product-name {
  flex-basis: 14%;
}

.wishlist-product-image,
.wishlist-product-name,
.wishlist-product-price {
  margin-right: -3rem;
}

.wishlist-single-product .wishlist-product-image {
  flex-basis: 9%;
}
.wishlist-product-image img {
  max-width: 100%;
}

.wishlist-product-name h5 {
  color: #2c2c2c;
}

.wishlist-product-price,
.wishlist-product-delete {
  color: #919191;
}

.wishlist-product-delete i {
  margin-left: -4rem;
  font-size: 20px;
}

.wishlist-product-count {
  background: linear-gradient(
    355deg,
    rgb(68, 189, 139) 35%,
    rgb(79, 216, 147) 100%
  );
  padding: 3px 8px;
  border-radius: 59%;
  color: #fff;
  margin-right: -6rem;
}

.wish-add-to-cart button {
  background: #42b883;
  color: #ffffff;
  outline: none;
  border: 0;
  padding: 9px 28px;
  border-radius: 7px;
  font-weight: 600;
}
